<script>
var nexttick;
var numticks = 0;

document.addEventListener('DOMContentLoaded', function() {
  window.addEventListener('mousemove', showAllEvent);
  window.addEventListener('touchmove', showAllEvent);
  window.addEventListener('touchstart', showAllEvent);
  tick();
}, false);

var tick = function() {
  if (numticks >= 5) {
    $('.hide').removeClass('show');
    numticks = 0;
  } else {
    numticks = numticks + 1;
  }

  nexttick = setTimeout(tick, 500);
}

var showAllEvent = function() {
  $('.hide').addClass('show');

  clearTimeout(nexttick);
  numticks = 0;
  nexttick = setTimeout(tick, 500);
}
</script>
