<footer class="about-wrapper h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <ul>
        <li class="footer-list"><a href="https://elisabethnicula.com/">Elisabeth Nicula</a></li>
        <!-- <li class="footer-list"><a href="https://www.twitter.com/elisabethnicula">twitter</a> &amp; <a href="https://www.instagram.com/elisabethnicula/">instagram</a></li> -->
        <li class="footer-list rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></li>
        </ul>

    </div>
</footer>